.item {
  width: 400px;
  background-color: rgb(117, 96, 68);
  padding: 0.5rem 0.7rem;
}

.title {
  color: white;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title span {
  font-weight: 700;
}

.answer {
  color: white;
}
